/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 
    GENERAL
*/

body{
    background-color: lightgray;
    color: gray;
}

ul{
    padding-top: 20px;
    padding-left: 25px;
    list-style: none;
}

li{
    padding-top: 10px;
}

/* 
    HEADER
*/

header{
    background-color: white;
    height: 100px;
    margin-bottom: 100px;
}

h1{
    display: inline-block;
    color: rgb(6, 23, 48);
}

header img, header h1{
    vertical-align: middle;
}

/* 
    MAIN
*/

main div{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
}

.container-top{
    margin-bottom: 3px;
    padding: 10px 0 10px 20px;
}

.container-top span{
    padding: 5px 20px;
    border: 1px solid grey;
    border-radius: 7px;
}

#add-task{
    background-color: lightblue;
}

