/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 
    BODY
*/

body{
    background-color: lightgray;
}

header{
    background-color: white;
    height: 100px;

}

h1{
    display: inline-block;
}

header img, header h1{
    vertical-align: middle;
}

